/* header  */

header {
    width: 1440px;
    margin: 0 auto;
    background-color: #2A9D8F;
}

.headerlogo {
    padding: 38px 0 38px 130px;
    vertical-align: middle;
}

.headernav {
    color: #FFFFFF;
    display: inline-block;
    vertical-align: middle;
    margin-left: 357px;
}

.headerli {
    display: inline-block;
}

.middleli {
    margin-inline: 51px;
}

button {
    margin-left: 373px;
    background-color: #FFFFFF;
    width: 147px;
    height: 46px;
    border: none;
    vertical-align: middle;
    color: #2A9D8F;

}
/* section 1  */

.section1{
    width: 780px;
    margin-inline: auto;
    /* background-color: aqua; */
    margin-top: 200px;
}
.section1header{
    font-weight: 500;
    font-size: 48px;
    line-height: 130%;
    color: #4D4D4D;
    margin-bottom: 60px;
}
.section1text1, .section1text2{
    font-weight: 400;
font-size: 20px;
line-height: 150%;
color: #656565;
}
.section1text1{
    margin-bottom: 52px;
}